.wd-settings-nav.nav-item.active a{
    font-weight: bold;
    color: gray;
    border-left: 0.5px solid grey;
    border-top: 0.5px solid grey;
    border-right: 0.5px solid grey;
    border-bottom: 0px;
}

.wd-settings-nav.nav-item a{
    border-bottom: 0.5px solid grey;
    color: red;
}
